<ng-template [ngIf]="!auth.authenticated">

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo" routerLink="/">YTask</span>
  </mat-toolbar>

  <app-login></app-login>

</ng-template>

<ng-template [ngIf]="auth.authenticated">

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo" routerLink="/">YTask</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="login">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
        <mat-list-item routerLink="/task">
          <a matListItemTitle>Task</a>
          <button mat-icon-button matListItemMeta>
             <mat-icon>info</mat-icon>
          </button>
       </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <div class="app-sidenav-content">
      <router-outlet></router-outlet> 
    </div>

  </mat-drawer-container>
</ng-template>